<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="my-key" value="my-value"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="Shuttle" connectionString="Data Source=.\sqlexpress;Initial Catalog=Shuttle;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
